<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav {
            width: 100%; 
            position: relative;
            background-color: blue;
            
        }
        nav ul {
            list-style: none;
            display: flex;
            width: 40%;
            justify-content: space-between;
            margin-left: 50%;
            
        }nav ul li {
            padding: 10px 5px;
        }
        nav ul li a{
            text-decoration: none;
            color: white;
            font-size: 1.3em;
        }
    </style>
</head>
<body>

    <%- include('nav.ejs') %> 
    
    <form action="/booking/add" method="post" class="regForm">

            
                
        <h2>Book Now</h2>
        
        <div class="regCon">
            <select name="package_nm" id="package_nm""> 
                <option>Select Your Package</option>
                <option value="Dolphin Royal Swim">Dolphin Royal Swim</option>
                <option value="Dolphin Swim Adventure">Dolphin Swim Adventure</option>
                <option value="Encounter">Encounter</option>
                <option value="Admission Plus">Admission Plus</option>
                <option value="Shark Encounter">Shark Encounter</option>
            </select>

            <select name="adult_num" id="">
                <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            <select name="child_num" id="">
                <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
           

            <input type="date" name="date_of_booking" id="date_of_booking">
           

            <input type="text" name="hotel_staying" id="hotel_staying">
            <br>

            <br>
            <select name="tour_ref_num" id="tour_ref_num">
            <option value="1">Dolphin Cove</option>
            </select>

            <input type="date" name="sche_date" id="sche_date">

            <br>

            <select name="sche_time" id="sche_time">
                <option>--select--</option>
                <option value="10:15am">10:15am</option>
                <option value="11:45am">11:45am</option>
            </select>

            <input type="number" name="total_cost" id="total_cost">

            <button type="submit">Submitr</button>
            
        </div>
       
    </form>

</body>
</html>