<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>

    <%- include('nav.ejs') %> 

    <div class="row">
        <div class="regImg col"></div>

        <form action="/tour_com/add" method="post" class="regForm">

            
                
            <h2>Register A Tour Company</h2>
            
            <div class="regCon">

                <div class="col">
                    <label for="">Reference Number:</label>
                    <input type="text" name="tour_ref_num" id="tour_ref_num">

                    <label for="">Company Name:</label>
                    <input type="text" name="company_nm" id="company_nm">
        
                    <label for="">Company Address:</label>
                    <input type="text" name="address" id="address">

                </div>

                <div class="col">
                    <label for="">Registration Date:</label>
                    <input type="date" name="reg_date" id="reg_date">

                    <label for="">Company Number:</label>
                    <input type="text" name="tel_num" id="tel_num">
                </div>

            </div>

            <button type="submit">Submit</button>
           
        </form>
    </div>
    
   
</body>
</html>