* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%; 
    position: relative;
    background-color: blue;
    
}
nav ul {
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-left: 50%;
    
}nav ul li {
    padding: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}
.logForm {
    width: 500px;
    height: auto;
    margin-left: 30%;
    background-color: rgb(238, 239, 240, 0.5);
    text-align: center;
    margin-top: 6%;
    padding: 2% 0;
    box-shadow: 1px 2px 1px 2px rgb(48, 68, 247);
}
.loginIcon {
    width: 220px;
    height: 200px;
}
.logForm input[name="email"], input[name="password"] {
    padding: 3%;
    width: 70%;
    border-radius: 15px;
    margin: 1% 0;
    border: 1px solid blue;
}
.logForm .remGet {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 2% 15% 1% 15%;
}
.logForm button {
    padding: 10px;
    width: 30%;
    margin-bottom: 3%;
    background-color: blue;
    color: white;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
}

.homeImg {
    background-image: url(https://cdn1.dtraveller.net/content/aquaventuras/roys/banner_royal_aqua_VIP.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 34rem;
    animation: slide 20s infinite;
    max-width: 100%;
    display: flex;
    
}
@keyframes slide {

    25% {
        background-image: url(https://www.dtraveller.com/promotions/images/DD_deals_868x362_RIVIERA-ing.jpg?v=7.8.29);
    }
    50% {
        background-image: url(https://www.dtraveller.com/promotions/images/DD_deals_868x362_COZUMEL-ing.jpg?v=7.8.29);
    }
    75% {
        background-image: url(https://www.dtraveller.com/promotions/imagesDD/dolphincoveja-banner.jpg?v=1);
    }
    100% {
        background-image: url(https://www.dolphincoveja.com/Content/src/programs/ne/locacion-Dolphin-Cove-Negril.jpg); 
    }

}